<div class="form-group-dashed tab-pane fade" role="tabpanel" id="request_set">
    <div class="content_wrap">
        <div class="form-group">
            <label class="col-sm-2 control-label">
                <span class="common-required">*</span>{{ LN.interface.add.request.methodTypes }}
            </label>
            <div class="col-sm-6">
                {% set methods=[
                'GET',
                'POST',
                'PUT',
                'DELETE',
                'SEARCH',
                'HEAD',
                'OPTIONS',
                'ACL',
                'BIND',
                'CHECKOUT',
                'CONNECT',
                'COPY',
                'LINK',
                'LOCK',
                'M-SEARCH',
                'MERGE',
                'MKACTIVITY',
                'MKCALENDAR',
                'MKCOL',
                'MOVE',
                'NOTIFY',
                'PATCH',
                'PROPFIND',
                'PROPPATCH',
                'PURGE',
                'REBIND',
                'REPORT',
                'SUBSCRIBE',
                'TRACE',
                'UNBIND',
                'UNLINK',
                'UNLOCK',
                'UNSUBSCRIBE' ] %}
                <label class="btn btn-default btn-select">
                    <select style="" name="api_type" id="api_type" class="validate[required] use_test">
                        {% for  method in methods %}
                            <option value="{{ method.toLowerCase() }}" {{ "selected" if api_type==method.toLowerCase() }}>{{ method }}</option>

                        {% endfor %}
                    </select>
                </label>
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label">
                <span class="common-required">*</span>{{ LN.interface.add.request.interfaceUrl }}
            </label>
            <div class="col-sm-6 ">
                <div class="input-group"><span class="input-group-addon">{{ project_prefix }}</span>
                    <input type="text" name="api_url" id="api_url" value="{{ api_url }}" class="form-control api_url  validate[required] use_test"/>
                    <input type="hidden" name="project_prefix" value="{{ project_prefix }}">
                </div>
                <p class="help-block">{{ LN.interface.add.request.urlFormat }}</p>
                {#<p class="help-block">{{ LN.interface.add.request.proxyPrefixTips }}【{{ project_prefix }}】</p>#}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">{{ LN.interface.add.request.getParamsTitle }}</label>
            <div class="col-sm-10">
                                        <textarea name="api_querys_desc" style="display: none" id="api_querys_desc" cols="30" rows="10">
                                        {{ api_querys_desc }}
                                    </textarea>
                <iframe id="querysDescIframe" class="jsoneditor" data-obj="api_querys_desc" src="/static/common/jsoneditor-5.6.0/index.html"
                        style="width: 100%;height: 300px;"
                        frameborder="0"></iframe>
                <p class="help-block">{{ LN.interface.add.request.getParamsTip }}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">{{ LN.interface.add.request.headersParamsTitle }}</label>
            <div class="col-sm-10">
                                        <textarea name="api_req_header_desc" style="display: none" id="api_req_header_desc" cols="30" rows="10">
                                        {{ api_req_header_desc }}
                                    </textarea>
                <iframe id="querysDescIframe" class="jsoneditor" data-obj="api_req_header_desc" src="/static/common/jsoneditor-5.6.0/index.html"
                        style="width: 100%;height: 300px;"
                        frameborder="0"></iframe>
                <p class="help-block">{{ LN.interface.add.request.headersParamsTips }}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">{{ LN.interface.add.request.requestHeadersTitle }}</label>
            <div class="col-sm-10">
                                        <textarea name="api_req_header" style="display: none" id="api_req_header" cols="30" rows="10">
                                        {{ api_req_header }}
                                    </textarea>
                <iframe id="querysIframe" class="jsoneditor" data-obj="api_req_header" src="/static/common/jsoneditor-5.6.0/index.html"
                        style="width: 100%;height: 300px;"
                        frameborder="0"></iframe>
                <p class="help-block">{{ LN.interface.add.request.requestHeadersTips }}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                <span class="common-required">*</span>{{ LN.interface.add.request.urlMatchMode }}
            </label>
            <div class="col-sm-6 ">
                <div class="select-group radio-group" data-toggle="buttons">
                    <!-- <div> -->
                    <label class="btn {% if exact_match===1 %}active{% endif %}">
                        <input type="radio" name="exact_match" value="1" {% if exact_match==1 %}checked{% endif %} autocomplete="off">{{ LN.interface.add.request.exactMatch }}
                    </label>
                    <label class="btn {% if exact_match==0 or exact_match=="" or exact_match==null %}active{% endif %}">
                        <input type="radio" name="exact_match" value="0" {% if exact_match==0 or exact_match=="" or exact_match==null %}checked{% endif %}
                               autocomplete="off">{{ LN.interface.add.request.incompleteMatch }}
                    </label>
                    <!-- </div> -->
                </div>
                <p class="help-block">
                    {{ LN.interface.add.request.exactMatchTips }}
                    {{ LN.interface.add.request.incompleteMatchTips|safe }}
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">{{ LN.interface.add.request.requestBodyTitleDesc }}</label>
            <div class="col-sm-10">
                                        <textarea name="api_parms_desc" style="display: none" id="api_parms_desc" cols="30" rows="10">
                                        {{ api_parms_desc }}
                                    </textarea>
                <iframe id="parmsDescIframe" class="jsoneditor" data-obj="api_parms_desc" src="/static/common/jsoneditor-5.6.0/index.html"
                        style="width: 100%;height: 300px;"
                        frameborder="0"></iframe>
                <p class="help-block">{{ LN.interface.add.request.requestBodyTitleTips }}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"><span class="common-required">*</span>{{ LN.interface.add.request.requestBodyTitle }}</label>
            <div class="col-sm-10">

                                        <textarea name="api_parms" style="display: none" id="api_parms" cols="30" rows="10">
                                        {{ api_parms }}
                                    </textarea>
                <iframe id="parmsIframe" class="jsoneditor" data-obj="api_parms" src="/static/common/jsoneditor-5.6.0/index.html" style="width: 100%;height: 300px;"
                        frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>
