<div class="form-group-dashed tab-pane fade" role="tabpanel" id="request_set">
    <div class="content_wrap">
        <div class="form-group">
            <label class="col-sm-2 control-label">
                <span class="common-required">*</span>接口类型
            </label>
            <div class="col-sm-6">
                {% set methods=[
                'GET',
                'POST',
                'PUT',
                'DELETE',
                'SEARCH',
                'HEAD',
                'OPTIONS',
                'ACL',
                'BIND',
                'CHECKOUT',
                'CONNECT',
                'COPY',
                'LINK',
                'LOCK',
                'M-SEARCH',
                'MERGE',
                'MKACTIVITY',
                'MKCALENDAR',
                'MKCOL',
                'MOVE',
                'NOTIFY',
                'PATCH',
                'PROPFIND',
                'PROPPATCH',
                'PURGE',
                'REBIND',
                'REPORT',
                'SUBSCRIBE',
                'TRACE',
                'UNBIND',
                'UNLINK',
                'UNLOCK',
                'UNSUBSCRIBE' ] %}
                <label class="btn btn-default btn-select">
                    <select style="" name="api_type" class="validate[required] use_test">
                        {% for  method in methods %}
                            <option value="{{ method.toLowerCase() }}" {{ "selected" if api_type==method.toLowerCase() }}>{{ method }}</option>

                        {% endfor %}
                    </select>
                </label>
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label">
                <span class="common-required">*</span>接口地址
            </label>
            <div class="col-sm-6 ">
                <div class="input-group"><span class="input-group-addon">{{ project_prefix }}</span>
                    <input type="text" name="api_url" value="{{ api_url }}" class="form-control api_url  validate[required] use_test"
                           placeholder="请输入路径地址"/>
                    <input type="hidden" name="project_prefix" value="{{ project_prefix }}">
                </div>
                <p class="help-block">此项目下所有接口统一加上【{{ project_prefix }}】前缀</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Get参数说明</label>
            <div class="col-sm-10">
                                        <textarea name="api_querys_desc" style="display: none" id="api_querys_desc" cols="30" rows="10">
                                        {{ api_querys_desc }}
                                    </textarea>
                <iframe id="querysDescIframe" class="jsoneditor" data-obj="api_querys_desc" src="/static/common/jsoneditor/index.html"
                        style="width: 100%;height: 300px;"
                        frameborder="0"></iframe>
                <p class="help-block">说明：接口地址中【?】query参数说明</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">请求 header参数说明</label>
            <div class="col-sm-10">
                                        <textarea name="api_req_header_desc" style="display: none" id="api_req_header_desc" cols="30" rows="10">
                                        {{ api_req_header_desc }}
                                    </textarea>
                <iframe id="querysDescIframe" class="jsoneditor" data-obj="api_req_header_desc" src="/static/common/jsoneditor/index.html"
                        style="width: 100%;height: 300px;"
                        frameborder="0"></iframe>
                <p class="help-block">说明：发送请求的header信息参数说明</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">请求 header信息</label>
            <div class="col-sm-10">
                                        <textarea name="api_req_header_desc use_test" style="display: none" id="api_req_header_desc" cols="30" rows="10">
                                        {{ api_req_header_desc }}
                                    </textarea>
                <iframe id="querysDescIframe" class="jsoneditor" data-obj="api_req_header_desc" src="/static/common/jsoneditor/index.html"
                        style="width: 100%;height: 300px;"
                        frameborder="0"></iframe>
                <p class="help-block">说明：发送请求的header信息参数值</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                <span class="common-required">*</span>匹配方式
            </label>
            <div class="col-sm-6 ">
                <div class="select-group radio-group" data-toggle="buttons">
                    <!-- <div> -->
                    <label class="btn {% if exact_match===1 %}active{% endif %}">
                        <input type="radio" name="exact_match" value="1" {% if exact_match==1 %}checked{% endif %} autocomplete="off">精准匹配
                    </label>
                    <label class="btn {% if exact_match==0 or exact_match=="" or exact_match==null %}active{% endif %}">
                        <input type="radio" name="exact_match" value="0" {% if exact_match==0 or exact_match=="" or exact_match==null %}checked{% endif %}
                               autocomplete="off">只匹配【?】前部分
                    </label>
                    <!-- </div> -->
                </div>
                <p class="help-block">精准匹配时,只有路径完全一致时才会匹配,<br>
                    只匹配【?】则以下都会匹配:
                    website/articles/comment<br>
                    website/articles/comment?post_id=xx&rrr=vvv...
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">请求 body 参数说明</label>
            <div class="col-sm-10">
                                        <textarea name="api_parms_desc" style="display: none" id="api_parms_desc" cols="30" rows="10">
                                        {{ api_parms_desc }}
                                    </textarea>
                <iframe id="parmsDescIframe" class="jsoneditor" data-obj="api_parms_desc" src="/static/common/jsoneditor/index.html"
                        style="width: 100%;height: 300px;"
                        frameborder="0"></iframe>
                <p class="help-block">post,put等非URL带的参数，如post表单提交的数据字段</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">请求 body 参数</label>
            <div class="col-sm-10">

                                        <textarea name="api_parms use_test" style="display: none" id="api_parms" cols="30" rows="10">
                                        {{ api_parms }}
                                    </textarea>
                <iframe id="parmsIframe" class="jsoneditor" data-obj="api_parms" src="/static/common/jsoneditor/index.html" style="width: 100%;height: 300px;"
                        frameborder="0"></iframe>
                <p class="help-block">post,put等非URL带的参数，如post表单提交的数据字段</p>
            </div>
        </div>
    </div>
</div>
